{% extends 'base_layout.html' %}

{% block content %}
<div class="friends-details">
    <div class="details">
        <h2>Name: {{ details.name }}</h2>
        <p>Place and Date of Birth: {{ details.tempat_tanggal_lahir }}</p>
        <p>Description: {{ details.description }}</p>
        <p>Line ID: {{ details.line }}</p>
        <br>
        <hr>
        <br>
        <h2 class="commenttitle">Comments:</h2>
        <a class="button" href="{% url 'friends:comment' slug=details.slug %}">Add a Comment</a>
        <br>
        <h3 class="count">Total Comments: {{ number_comments }} </h3>
        {% for comment in comments %}
            <div class="comment">
                <strong class="username">{{ comment.username }}</strong>
                <p class="commenttext">{{ comment.text }}</p>
                <p class="time">{{ comment.created }}</p>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
